{{#if message}}
{{^partial}}
<li class="message{{#self}} self{{/self}}">
	<h5 class="nick"><a href="#{{nick}}" {{^self}}class="user{{presence_id}}"{{/self}}>{{nick}}</a></h5>
	<ul class="contents">
{{/partial}}
		<li {{#mention}}class="mention"{{/mention}}>
			<var class="timestamp">{{time timestamp}}</var>
			<span class="text">{{breaklines contents}}</span>
		</li>
{{^partial}}
	</ul>
</li>
{{/partial}}
{{/if}}

{{#if away}}
<li class="away">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-minus-circle"></i> <strong class="nick">{{nick}}</strong> <em>(away)</em> <span class="text">{{contents}}</span>
</li>
{{/if}}

{{#if nowaway}}
<li class="nowaway">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-minus-circle"></i> {{text}}
</li>
{{/if}}

{{#if action}}
<li class="action">
	<var class="timestamp">{{time timestamp}}</var>
	<em>* <strong>{{nick}}</strong> <span class="text">{{contents}}</span></em>
</li>
{{/if}}

{{#if nick_change}}
<li class="nick">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-user"></i> <strong class="nick">{{old_nick}}</strong> is now known as <strong class="nick">{{new_nick}}</strong>
</li>
{{/if}}

{{#if notice}}
{{^partial}}
<li class="notice">
	<h5>{{#from}}<span class="from">{{.}}</span> {{/from}}&#9656; <span class="to">{{to}}</span></h5>
	<ul class="contents">
{{/partial}}
		<li>
			<var class="timestamp">{{time timestamp}}</var>
			<span class="text">{{text}}</span>
		</li>
{{^partial}}
	</ul>
</li>
{{/partial}}
{{/if}}

{{#if join}}
<li class="join">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-chevron-right"></i> <strong>{{nick}}</strong> joined the channel
</li>
{{/if}}

{{#if part}}
<li class="part">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-chevron-left"></i> <strong>{{nick}}</strong> left the channel{{#reason}} ( <span class="text">{{.}}</span> ){{/reason}}
</li>
{{/if}}

{{#if kick}}
<li class="kick">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-chevron-left"></i> <strong class="nick">{{nick}}</strong> was kicked by <strong class="by">{{by}}</strong>{{#reason}} ( <span class="text">{{.}}</span> ){{/reason}}
</li>
{{/if}}

{{#if topic}}
<li class="topic">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-pencil"></i> <strong>{{nick}}</strong> <span class="text">{{#topic_text}}set the topic to <em>&ldquo;{{.}}&rdquo;</em>{{/topic_text}}{{^topic_text}}cleared the topic{{/topic_text}}</span>
</li>
{{/if}}

{{#if mode_add}}
<li class="mode add">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-plus"></i>
	<span class="text"><strong>{{by}}</strong> added the mode &ldquo;{{mode}}&rdquo; to {{channel}}{{#argument}} with the argument <code>{{.}}</code>{{/argument}}</span>
{{/if}}

{{#if mode_remove}}
<li class="mode remove">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-minus"></i>
	<span class="text"><strong>{{by}}</strong> removed the mode &ldquo;{{mode}}&rdquo; from {{channel}}{{#argument}} with the argument <code>{{.}}</code>{{/argument}}</span>
{{/if}}

{{#if motd}}
<li class="motd">
	<var class="timestamp">{{time timestamp}}</var>
	<pre class="text">{{text}}</pre>
</li>
{{/if}}

{{#if whois}}
<li class="whois">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-question-circle"></i> WHOIS for <strong>{{info.nick}}</strong>: {{^info.server}}User not found.{{/info.server}}
	{{#info}}
	<dl>
		{{#if account}}<dt>account</dt><dd>{{account}}</dd>{{/if}}
		{{#if user}}<dt>user</dt><dd>{{user}}</dd>{{/if}}
		{{#if host}}<dt>host</dt><dd>{{host}}</dd>{{/if}}
		{{#if realname}}<dt>realname</dt><dd>{{realname}}</dd>{{/if}}
		{{#if channels}}<dt>channels</dt><dd>{{#channels}}{{.}} {{/channels}}</dd>{{/if}}
		{{#if server}}<dt>server</dt><dd>{{server}} {{#if serverinfo}}({{serverinfo}}){{/if}}</dd>{{/if}}
	</dl>
	{{/info}}
</li>
{{/if}}

{{#if error}}
<li class="error">
	<var class="timestamp">{{time timestamp}}</var>
	<i class="fa fa-exclamation-triangle"></i> <span class="text">{{text}}</span>
</li>
{{/if}}