<li class="{{#active}}active{{/active}}{{^active}}inactive{{/active}}" data-nick="{{encode nick}}">
	<a href="#{{nick}}">
		{{#rank}}<strong class="rank">{{.}}</strong>{{/rank}}
		<span class="nick">{{nick}}</span>
	</a>
	{{^active}}<var class="idle">{{idle}}m</var>{{/active}}
</li>